*{
    margin: 0;
    padding: 0;
    background: rgb(226, 226, 226);
  }
  .box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    border: 1px solid black;
    border-radius: 2vh;
    width: fit-content;
    margin: auto;
    align-items: center;
    margin-top: 10vh;
    padding: 2vh 2vw;
  }
  
  .boxHeading{
    font-size: xx-large;
    margin-bottom: 2vh;
  }
  .dateBox{
    margin-bottom: 2vh;
  }
  .dateBox input{
    font-size: large;
    border: 1px solid black;
    border-radius: 1vh;
    background: #fdfbfb;
  }
